@font-face {
  font-family: Roobert;
  src: url(./Roobert-Regular.ttf);
}

:root {
  --bg: #0e0e10;
  --bg-med: #18181b;
  --bg-light: #1f1f23;
  --bg-button: #2e2e35;
  --default-color: #efeff1;
  --accent-color: #fab4ff;
  --correct-color: #538d4e;
  --incorrect-color: #921a1a;

  --global-max-width: 480px;
  --border-radius: 4px;
}

html {
  background-color: var(--bg);
  color: var(--default-color);
  font-family: Roobert, Arial, Helvetica, sans-serif;
  font-size: 16px;  
}

* {
  box-sizing: border-box;
}

header {
  color: var(--accent-color);
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: flex;
  width: 100%;
  max-width: var(--global-max-width);
}

.guess {
  width: 100%;
  max-width: var(--global-max-width);
}

input {
  border: 1px solid transparent;
  background-color: var(--bg-light);
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: var(--bg-light);
  color: var(--default-color);
  flex: 1;
  margin-right: 8px;
}

input[type=submit] {
  background-color: var(--correct-color);
  color: var(--default-color);
  cursor: pointer;
}

input[type=submit]:disabled {
  background-color: var(--bg-button);
  color: var(--default-color);
  cursor: default;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid var(--bg);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--bg-light); 
  border-bottom: 1px solid var(--bg); 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: var(--bg-button); 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: var(--bg-button) !important; 
  color: var(--default-color); 
}

.info-row {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 1fr); */
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 2em;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2em;
  align-items: start;
  grid-gap: 1em;
  position: relative;
  color: var(--default-color);
  min-height: 100%;
  width: var(--global-max-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
}

.game, .game-info {
  display: grid;
  gap: 2em;
  position: relative;
  width: 100%;
  max-width: var(--global-max-width);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  flex: 1;
  background-color: var(--bg-light);
  padding: 6px 10px;
  border-radius: 5px;
}

.info-value, .info-value-hidden {
  font-weight: 600;
  font-size: 1.2em;
}
.info-value-hidden, .info-image-hidden {
  filter: blur(5px);
}
.info-label {
  color: grey;
}

.info-image, .info-image-hidden {
  height: 250px;
  width: 100%;
  justify-content: center;
}

#pet-image-container {
  background-color: var(--default-color);
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

#pet-image {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

.info-row, .info-image, .info-image-hidden {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#info-day, #info-year, #info-percent, #info-region, #info-killcount, #info-type { 
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#info-day-val, #info-year-val, #info-percent-val, #info-region-val, #info-killcount-val, #info-type-val, #info-image { 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#share-button {  
  width: 142px;
  height: 36px;
  background-color: var(--correct-color);
  color: var(--default-color);
  border-color: var(--default-color);
  font-size: 18px;
}

#prev-puzzles-container {
  width: 100%;
  text-align: center;
}

#prev-puzzles a {
  color: var(--accent-color);
  font-family: monospace;
}

#prev-puzzles a:hover {
  color: var(--accent-color);
}